VITE_API_KEY = api_key,
VITE_AUTH_DOMAIN = "first-steps-leiton.firebaseapp.com",
VITE_PROJECT_ID = "first-steps-leiton",
VITE_STORAGE_BUCKET = "first-steps-leiton.firebasestorage.app",
VITE_MESSAGING_SENDER_ID = messaging_sender,
VITE_APP_ID = app_id,
VITE_MEASUREMENT_ID = measurement_id